@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$fontfamily : 'DM Sans', sans-serif;
:root {
    --background-banner: linear-gradient(115deg, rgba(184, 73, 252, 0.3) 0%, rgba(253, 131, 63, 0) 40%) no-repeat;
    --background-btn: #664EFC;
    --background-hero: #fff;
    --color-text: #6B6B6B;
  }
.container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    header{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        padding: 2% 3%;
        .container__header{
            max-width: 1200px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navbar{
                width: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul.list__item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li.list__item__list{
                        list-style: none;
                        margin: 5px;
                        padding: 5px;
                        a{
                            text-decoration: none;
                            font-family: $fontfamily;
                            color: #000;
                        }
                    }
                }
                button.btn__header{
                    display: inline-block;
                    padding: 15px 30px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-family: $fontfamily;
                    background-color: var(--background-btn);
                    color: #fff;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }
        }
    }
    .banner__IndieBrew{
        width: 100%;
        background: var(--background-banner);
        min-height: 100vh;
        position: relative;
        .container__banner{
            padding: 130px 0px;
            max-width: 1200px;
            margin: 0px auto;
            .row__banner__IndieBrew{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__banner__IndieBrew{
                    width: 500px;
                    height: auto;
                    h1{
                        font-family: $fontfamily;
                        font-size: 45px;
                    }
                    span{
                        font-family: $fontfamily;
                        color: var(--color-text);
                        margin: 10px 0px;
                        display: block;
                    }
                    button.btn__banner{
                        display: block;
                        padding: 15px 30px;
                        font-family: $fontfamily;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        margin: 20px 0px;
                        background-color: var(--background-btn);
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    p{
                        font-family: $fontfamily;
                        color: var(--color-text);
                        span.inside{
                            display: inline-block;
                            color: var(--background-btn);
                        }
                    }
                }
                .box__banner__IndieBrew__img{
                    width: 600px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    .hero__IndieBrew{
        position: relative;
        padding: 100px 0px;
        .container__hero__IndieBrew{
            max-width: 1200px;
            margin: 0px auto;
            .row__hero__IndieBrew{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__hero__IndieBrew{
                    width: 650px;
                    height: auto;
                    font-family: $fontfamily;
                    h1{
                        font-size: 40px;
                    }
                    span{
                        color: var(--color-text);
                    }
                    a{
                        display: block;
                        color: var(--background-btn);
                        font-weight: bold;
                        margin: 10px 0px;
                    }
                }
            }
            .box__hero__img{
                width: 400px;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .Hero__IndieBrew__2{
        padding: 20px 0px;
        position: relative;
        .container__Hero__IndieBrew__2{
            max-width: 1200px;
            margin: 0px auto;
            padding: 20px;
            .row__Hero__IndieBrew__2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__Hero__IndieBrew__2__img{
                    width: 600px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .box__Hero__IndieBrew__2__text{
                    width: 550px;
                    height: auto;
                    font-family: $fontfamily;
                    h1{
                        font-size: 40px;
                    }
                    span{
                        margin: 10px 0px;
                        display: block;
                        color: var(--color-text);
                    }
                    a{
                        display: block;
                        font-weight: bold;
                        color: var(--background-btn);
                    }
                }
            }
        }
    }
    footer{
        padding: 50px;
        position: relative;
        background-color: #FDFCF9;
        .container__footer{
            max-width: 1200px;
            margin: 0px auto;
            .row__footer{
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                .box__footer{
                    width: 300px;
                    height: auto;
                    font-family: $fontfamily;
                    span{
                        display: block;
                        color: var(--color-text);
                    }
                }
                .box__list__footer{
                    width: 200px;
                    font-family: $fontfamily;
                    text-align: center;
                    ul{
                        li{
                            list-style-type: none;
                            margin: 10px 0px;
                            a{
                                text-decoration: none;
                                color: var(--color-text);
                            }
                        }
                    }
                }
            }
        }
    }
}